form input {
  color: blue;
}
div input{
  color: green;
}
@keyframes animar{
  from{
    background-color: yellow;
    width: 50 px;
  }
  to{
    background-color: blue;
    width: 400 px;
  }
  
}

//input [ type = "submit"]{
  //animation-name: animar;
  //animation-duration:5s;
//}